<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
		<link rel="stylesheet" href="/assets/css/styles.css">

		<title>404</title>
	</head>
	<body>
		<main class="not-found">
            <div>

			<img src="../assets/images/not_found.png">
			<p>page not found</p>
			<p>Go back
				<a href="/">home</a>
			</p>
            </div>
		</main>
	</body>
</html>
