<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
		<title>
			{% block title %}
				Let's learn Twig
			{% endblock %}
		</title>
	</head>
	<body class="body">
		<header class="header">
			<h1>Let's learn Twig</h1>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/variables">Variables</a></li>
					<li><a href="/conditionals">Conditionals</a></li>
					<li><a href="/loops">Loops</a></li>
                    <li><a href="/tables">Tables</a></li>
                    <li><a href="/templates">Templates</a></li>
				</ul>
			</nav>
		</header>
		<main class="main">
			{% block content %}{% endblock %}
		</main>
		<footer class="footer">
			Styled with ❤️
			<a href="https://simplecss.org/">simpleCSS</a>
		</footer>
	</body>
</html>
