<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
		<title>
			{% block title %}
				Let's learn Twig
			{% endblock %}
		</title>
	</head>
	<body class="body">
		<header class="header">
			<h1>Let's learn Twig</h1>
			
            {{ include('nav.twig') }}

		</header>
        
		<main class="main">
			{% block content %}{% endblock %}
		</main>

		{{ include('footer.twig') }}
        
	</body>
</html>
