<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's learn Twig</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <header>
        <h1>Let's learn Twig</h1>
    </header>
    <div>
        <h2>1. Rendering variables</h2>
        <p>Hello, {{ name }}! You are {{ age }} years old.</p>
    </div>
    <div>
        <h2>2. Conditional rendering</h2>
        {% if age > 18 %}
        <p>You are above 18, so you can legally drive.</p>
        {% else %}
        <p>You are not above 18, so you cannot legally drive.</p>
        {% endif %}
    </div>
    <div>
        <h2>3. Rendering a list from data</h2>
        <ul>
            {# If you know JavaScript, this syntax should be familiar #}
            {% for user in users %}
            <li>{{ user.name }}, {{ user.age }} years old</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>
            4. Rendering a table from data
        </h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Age</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% set counter = 0 %}
            {% for user in users %}
            {% set counter = counter + 1 %}
            <tr>
                <td>{{ counter }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer>
        Styled with ❤️ <a href="https://simplecss.org/">simpleCSS</a>
    </footer>
</body>
</html>