<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/variables">Variables</a></li>
		<li><a href="/conditionals">Conditionals</a></li>
		<li><a href="/loops">Loops</a></li>
		<li><a href="/templates">Templates</a></li>
		<li><a href="https://twig.symfony.com/doc/3.x/" target="_blank">Docs</a></li>
	</ul>
</nav>
